<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>secondweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DessineServlet</display-name>
    <servlet-name>DessineServlet</servlet-name>
    <servlet-class>com.loncoto.secondweb.servlets.DessineServlet</servlet-class>
    <init-param>
    	<param-name>feuillestyle</param-name>
    	<param-value>style.css</param-value>
    </init-param>
    <init-param>
      <description>essai de paramètre</description>
      <param-name>isTriangle</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DessineServlet</servlet-name>
    <url-pattern>/Dessine</url-pattern>
  </servlet-mapping>
</web-app>