body {
	background-color: #D3D3D3;
	color:#9370DB;
	text-align: center;
	background: url(http://www.tuxboard.com/photos/2014/07/feu-artifice-paris-tour-eiffel-2014.jpg);
	background-size: cover;
}